        * {
            font-family: 'Poppins', sans-serif;
            margin: 0%;
            box-sizing: border-box;
        }
        
        .titles {
            font-family: 'Montserrat', sans-serif;
        }
        
        .clr {
            clear: both;
        }
        
        .navbar {
            padding: 0px 69px;
            height: 62px;
        }
        
        .active {
            font-size: 14px;
            padding: 0 8px;
        }
        
        header {
            background-image: url(../daniels_images/bg.jpg);
            height: 100vh;
            background-size: cover;
            background-position: center;
        }
        
        .layer {
            background-color: rgba(0, 0, 0, 0.65);
            height: 100%;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
        }
        
        .socials {
            width: 35px;
            height: 35px;
            font-size: 14px;
            border-radius: 50%;
            background: rgba(0, 0, 0, 0.3);
            margin: 10px 5px;
        }
        
        .intro {
            padding: 100px 0 70px;
        }
        
        .caption h5 {
            font-size: 50px;
            font-weight: 800;
        }
        
        .caption p {
            font-weight: 200;
            font-size: 44px;
        }
        
        .captions span {
            color: #999;
        }
        
        .captions p {
            color: #748182;
            margin-top: 20px;
        }
        
        .skills h6 {
            font-size: 13px;
        }
        
        .skills .progress-bar {
            background-color: #1c1c1c;
        }
        
        .captions .btn1 {
            background-color: #1c1c1c;
            padding: 10px 30px;
            margin-top: 20px;
            border: 1px solid #1c1c1c;
            border-radius: 5px;
            font-size: 13px;
            color: white;
            transition: color 1s;
            transition-duration: 2s;
        }
        
        .captions .btn2 {
            padding: 10px 30px;
            margin-top: 20px;
            border: 1px solid #1c1c1c;
            border-radius: 5px;
            font-size: 13px;
            color: #343434;
            transition: color 1s;
            transition-duration: 2s;
        }
        
        .btn1:hover {
            background-color: white;
            color: #343434;
        }
        
        .btn2:hover {
            background-color: #1c1c1c;
            color: white;
        }
        
        .services {
            background-color: #f7f7f7;
            padding: 100px 0 70px;
        }
        
        .heading {
            margin: 0 80px;
            text-align: center;
        }
        
        .items {
            text-align: center;
            background-color: white;
            margin: 0px 5px 30px;
            padding: 50px 20px;
        }
        
        .fas {
            font-size: 40px;
        }
        
        .items h6 {
            font-size: 18px;
            color: #343434;
            margin-bottom: 15px;
        }
        
        .items p {
            font-size: 14px;
            color: #748182;
        }
        
        .fa-gem {
            font-size: 30px;
        }
        
        .portfolio {
            background-color: white;
        }
        
        .test {
            background-color: #f7f7f7;
            padding: 100px 0 70px;
        }
        
        .item11 {
            background-image: url(daniels_images/11.jpg );
            background-position: center;
            background-size: cover;
        }
        
        .laying {
            background-color: rgba(255, 255, 255, 0.95);
            margin: 1px;
            /* opacity: 0;/ */
        }
        
        .author {
            width: 90px;
            height: 90px;
            overflow: hidden;
            background-image: url(../daniels_images/10.jpg);
            background-position: center;
            background-size: cover;
        }
        
        .authoring p {
            line-height: 1.6;
            margin: 0;
            font-size: 15px;
            color: #748182;
            text-align: center;
        }
        
        .authoring h6 {
            color: #343434;
        }
        
        .authoring span {
            color: #888;
            margin-bottom: 30px;
        }
        
        .count {
            padding: 100px 0 70px;
        }
        
        .count p {
            font-size: 15px;
            color: #748182;
            font-weight: 600;
        }
        
        .blog {
            background-color: #f7f7f7;
            padding: 100px 0 70px;
        }
        
        .blog .item {
            text-align: left;
            background-color: white;
        }
        
        .item .seprating {
            height: 50%;
        }
        
        .item img {
            transition: transform 1s;
            transition-duration: 1s;
        }
        
        .item h6 {
            font-size: 12px;
            color: #888;
        }
        
        .item h4 {
            font-size: 20px;
            font-weight: 800;
            color: #343434;
        }
        
        .item span {
            font-size: 14px;
            color: #343434;
        }
        
        .item .line {
            height: 2px;
            width: 80px;
            background-color: #343434;
        }
        
        .contact {
            padding: 100px 0 70px;
        }
        
        .iconic {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #f7f7f7;
            overflow: hidden;
            display: inline-block;
            margin-bottom: 15px;
            transition: color 1s;
        }
        
        .size {
            font-size: 25px;
            margin: 20px auto;
        }
        
        .contact h6 {
            color: #343434;
            margin-bottom: 10px;
        }
        
        .contact p {
            font-size: 15px;
            color: #748182;
        }
        
        .contact input {
            width: 100%;
            border: none;
            border-radius: 5%;
        }
        
        .contact textarea {
            background-color: #f4f4f4;
            width: 100%;
            border: none;
            margin-top: 10px;
            padding: 10px;
        }
        
        .contact .btn1 {
            background-color: #1c1c1c;
            width: 130px;
            padding: 10px 30px;
            margin-top: 20px;
            border: 1px solid #1c1c1c;
            border-radius: 5px;
            font-size: 13px;
            color: white;
            transition: color 1s;
            transition-duration: 2s;
        }
        
        .contact .btn1:hover {
            background-color: white;
            color: #343434;
        }
        
        footer {
            background-color: #1c1c1c;
            color: #748182;
            font-size: 14px;
            padding: 30px;
        }
        /* animation part -------------------------------->>>>>>>>>>*/
        
        .items:hover .iconic {
            background-color: #1c1c1c;
            color: white;
        }
        
        .trans:hover .iconic {
            background-color: #1c1c1c;
            color: white;
        }
        
        .item:hover img {
            transform: scale(1.5);
        }